@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Koulen&family=Lato:wght@100&family=Montserrat:wght@100&family=Raleway:wght@100&family=Rubik:wght@300&display=swap');
/* font-family: 'Gloria Hallelujah', cursive;
font-family: 'Koulen', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */

*{
    padding: 0;
    margin: 0;
}
.oculto{
    display: none;
}

.landingPage{
    height: 20rem;
    background-image: linear-gradient(to right,rgba(255, 72, 0, 0.404),rgba(2, 2, 2, 0.408)) ,url('../img/PetHome.jpg');
    background-size: cover;
    background-position: center;
}

.navList{
    background-color: rgb(227, 226, 226);
    padding-top: 12px;
}

.lateral{
    background-color: rgb(227, 226, 226);
    padding-top: 12px;
}

.productos h1{
    color: rgb(56, 50, 50);
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    letter-spacing: 7px; 
}

.productos{
    padding-top: 12px;
    padding-bottom: 30px;
    text-align: center;
}

.post_productos{
    text-align: center;

    font-family: 'Rubik', sans-serif;
    padding-bottom: 10px;
}
.post_productos div{
    overflow: hidden;
    padding: 10px;
}
.post_productos img{

    width: 100%;
    object-fit: cover;
}

.post_productos h6{
    height: 70px;
    overflow:hidden;
}

.post_productos div:hover{
    transition: 0.82s;
    box-shadow: rgb(107, 108, 108) 0px 1px 10px 3px;
}
.btn-comprar{
    background-color: rgb(54, 172, 250);
    color: aliceblue;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    display: inline-block;
}
.btn-comprar:hover{
    background-color: rgb(8, 218, 255);
    transform:  scale(1.1);
    border: 2px rgb(22, 253, 234) solid;
}
.navFilters li{
    list-style: none;
    cursor: pointer;
}
.navFilters li:hover{
    color: rgb(107, 107, 107);
    transition: 0.2s;
}
.navFilters{
    text-align: left;
    padding: 0ch;
    line-height: 30px;
}
.navBurger{
    background-color: rgb(227, 226, 226);
    border-top: 1px rgba(0, 0, 0, 0.273) solid;
    padding-top: 7%;
}
.navBurger-in{
    background-color: rgb(227, 226, 226);
}
.tabla-carrito{
    padding: 10px;
    border: 2px solid rgba(88, 88, 88, 0.391);
    border-radius: 19px;
    background-color: #fff;
}

#lista-carrito{
    position:fixed;
}

@media screen and (min-width: 320px) and (max-width: 560px) {
    #lista-carrito{
        position:static;
    }
    .btn-comprar{
        background-color: rgb(54, 172, 250);
        border-radius: 8px;
        padding: 25px 0;
        display: block;
    }
}

#carritoFinal{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#cartPage{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#volver{
    font-size: 25px;
}
#volver p{
    display: inline;
    border-radius: 10px;
    background-color: rgb(192, 191, 191);
    padding:0 10px;
}
#volver p:hover{
    border-radius: 10px;
    background-color: rgb(192, 191, 191);
    padding:0 1% ;
    cursor: pointer;
}