@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Koulen&family=Lato:wght@100&family=Montserrat:wght@100&family=Raleway:wght@100&family=Rubik:wght@300&display=swap');
/* font-family: 'Gloria Hallelujah', cursive;
font-family: 'Koulen', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */

*{
    padding: 0;
    margin: 0;
}
.landingPage{
    height: 20rem;
    background-image: linear-gradient(to right,rgba(255, 72, 0, 0.404),rgba(2, 2, 2, 0.408)) ,url('../img/PetHome.jpg');
    background-size: cover;
    background-position: center;
}

.navList{
    background-color: rgb(227, 226, 226);
    padding-top: 12px;
}

.lateral{
    background-color: rgb(227, 226, 226);
    padding-top: 12px;
}

.productos h1{
    color: rgb(56, 50, 50);
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
}

.productos{
    padding-top: 12px;
    padding-bottom: 30px;
    text-align: center;
}

.post_productos{
    text-align: center;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 10px;
}
.post_productos div{
    height: 420px;
    overflow: hidden;
}
.post_productos img{
    height: 300px;
    object-fit: cover;
}
.post_productos div:hover{
    box-shadow: aqua 1px 2px 9px 2px;
}
.btn-comprar{
    background-color: rgb(54, 172, 250);
    color: aliceblue;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    display: inline-block;
}